[Desktop Entry]
Type=Application
Name=typeShi
Comment=A typing speed test application
Exec=typeshi
Icon=np.com.safallama.typeshi
Terminal=false
Categories=Game;Education;
Keywords=typing;wpm;keyboard;practice;speed;
